/***********Count down************/
    .count-item{
        @include RP(AM){
            margin:50px 0;
        }
        font-size: $body-size;
        text-align: center;

        &:hover{
            .count-subject, .count-number-done{
                  color:$Black;
            }
        }
        .count-number-done, .count-number{
            @include MQ(L){
                font-size: 50px;
            }
            @include OP(MS){
                font-size: 40px;
            }
            @include RP(AM){
                font-size: 30px;
            }
            color:$Black;
        }
        .count-subject{
            @include font-size(12px);
            text-transform: uppercase;
            letter-spacing: 2px;
            color:$black_05;
            margin-top:5px;
            font-weight: 700;
        }
    }
