/*BLog -02*/
.container-blog{
    .box-center{
        padding:0 15px;
    }
    img{
        width:100%;
        height:auto;
        height:205px;
        @include RP(MBSM){
            height:auto;
        }
    }
    .blog-item{
       .date{
            opacity:0.5;
            padding:0px 5px;
            border-left:1px solid $black_05;
        }
    }
    color:$Black;
    a{
        color:$Black;
    }
}
// end blog