.right-content, .left-sidebar{
    padding-top:50px;
    @include RP(AM){
        padding-top:30px;
    }
}
.right-content{
    padding-right:30px;
    @include RP(MBSM){
        padding-right:0;
    }
    @include RP(AM){
        padding-right: 20px;
    }
}
.left-sidebar{
    border-left:1px solid $black_01;

}
.sidebar{
    padding: 0 15px 0 25px;
    @include RP(L){
        padding:0 0 0 20px;
    }
}
.relate-post{
    li:first-child{
        padding-top:0;
        display:table;
    }
    .img-post{
        height: 120px;
        overflow: hidden;
        padding: 0;
        @include RP(L){
            height:100px;
        }
    }
    .titlemore{
        padding-left:20px;
        p{
            span{
                padding-right:10px;
                &:last-child{
                    padding-right:0;
                }
            }
        }
    }
    li{
        @include font-size(14px);
        color:$black_05;
        display:table;
        padding:25px 0;
        border-bottom:1px solid $black_01;
        width:100%;
        img{
            width:100%;
            height:100%;
        }
        .relate-title{
            padding-top:10px;
            font-size: 12px;
            a{
                color:$black_04;
                &:hover{
                    color:$Black;
                }
            }
        }
        .status span{
            @include font-size(14px);
        }
        h3{
           font-size:16px;
            font-family: $fr;
            font-weight: 700;
            margin:-5px 0 5px 0;
            line-height:1.2em;
            a{
                color:$black_05;
            }
        }
        &:hover{
            h3 a{color:$Black;}
        }
    }
}
.category-post-widget{
  	.category_post{
		ul{
			margin:0 important;
			padding:0 !important;
			li{
				position:relative;
				width:100%;
                margin-bottom:5px;
			}
		}
	}
}