@font-face {
  font-family: 'Film-icon';
  src: url("../fonts/Film-icon.eot?rufg47");
  src: url("../fonts/Film-icon.eot?rufg47#iefix") format("embedded-opentype"), url("../fonts/Film-icon.ttf?rufg47") format("truetype"), url("../fonts/Film-icon.woff?rufg47") format("woff"), url("../fonts/Film-icon.svg?rufg47#Film-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="be-"], [class*=" be-"] {
  font-family: 'Film-icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 8em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.be-1be:before {
  content: "\e900";
}

.be-2be:before {
  content: "\e901";
}

.be-3be:before {
  content: "\e902";
}

.be-4be:before {
  content: "\e903";
}

.be-5be:before {
  content: "\e904";
}

.be-6be:before {
  content: "\e905";
}

.be-7be:before {
  content: "\e906";
}

.be-8be:before {
  content: "\e907";
}

.be-9be:before {
  content: "\e908";
}

.be-10be:before {
  content: "\e909";
}

.be-11be:before {
  content: "\e90a";
}

.be-12be:before {
  content: "\e90b";
}

.be-13be:before {
  content: "\e90c";
}

.be-14be:before {
  content: "\e90d";
}

.be-15be:before {
  content: "\e90e";
}

.be-16be:before {
  content: "\e90f";
}

.be-17be:before {
  content: "\e910";
}

.be-18be:before {
  content: "\e911";
}

.be-19be:before {
  content: "\e912";
}

.be-20be:before {
  content: "\e913";
}

.be-21be:before {
  content: "\e914";
}

.be-22be:before {
  content: "\e915";
}

.be-23be:before {
  content: "\e916";
}

.be-24be:before {
  content: "\e917";
}

.be-25be:before {
  content: "\e918";
}

.be-26be:before {
  content: "\e919";
}

.be-27be:before {
  content: "\e91a";
}

.be-28be:before {
  content: "\e91b";
}

.be-29be:before {
  content: "\e91c";
}

.be-30be:before {
  content: "\e91d";
}

.be-31be:before {
  content: "\e91e";
}

.be-32be:before {
  content: "\e91f";
}

.be-33be:before {
  content: "\e920";
}

.be-34be:before {
  content: "\e921";
}

.be-35be:before {
  content: "\e922";
}

.be-36be:before {
  content: "\e923";
}

.be-37be:before {
  content: "\e924";
}

.be-38be:before {
  content: "\e925";
}

.be-39be:before {
  content: "\e926";
}

.be-40be:before {
  content: "\e927";
}

.be-41be:before {
  content: "\e928";
}

.be-42be:before {
  content: "\e929";
}

.be-43be:before {
  content: "\e92a";
}

.be-44be:before {
  content: "\e92b";
}

.be-45be:before {
  content: "\e92c";
}

.be-46be:before {
  content: "\e92d";
}
